@import '../../styles/colours';
@import '../../styles/sizes';
@import '../../styles/misc';

.img_wrapper {
    width: 120px;
    height: 120px;
    padding: 2px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: $radius-agency;
    background-color: #fff;

    img {
        display: inline;	
        max-width: 100%;	
        max-height: 100%;	
        height: auto;	
        width: auto;	
    }

    .border {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        border: 1px solid #DADCE3;
        border-radius: $radius-agency;
        overflow: hidden;
    }
}
