* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: 'Inter', Helvetica, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  height: auto;
}

body {
  background-color: white;
  padding-top: 0 !important;
}

a {
  text-decoration: none !important;
}

button {
  margin: 3px;
}

.main-content {
  flex: 1 0 auto;
}