
@import '../../styles/text';
@import '../../styles/sizes';



.flex {
  display: flex;
  justify-content: space-between;
}

.post-with-stats{
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--chakra-colors-neutral-300);
  
  .post-item {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  
    .stats-wrapper {
      display: flex;
      justify-content: space-between;
      .post-bottom-info {
        display: flex;
        align-items: flex-start;
    
        .post-date {
          @include body-2;
          color: var(--chakra-colors-secondary-800);
        }
      }
    }
  

    .post-text {
      
      
      h2 {
        @include h4;
        color: var(--chakra-colors-primary-900);
        padding-bottom: 4px;
      }
  
      .post-description-container {
        @include body-2;
        color: var(--chakra-colors-secondary-800);

        .public-DraftStyleDefault-block {
          margin-top: 0px;
          margin-bottom: 0px;
        }
      }
      
    }
  
    .post-side-info {
      @include body-2;
      color: var(--chakra-colors-secondary-400);
      display: flex;
      align-items: flex-start;
  
      .question-tag {
        @include caption-2;
        padding: 4px 8px;
        border-radius: var(--chakra-radii-button);
        color: white;
        &.due-soon-tag {
          background: var(--chakra-colors-warning-600);
        }
        &.answered-tag {
          background: var(--chakra-colors-success-700);
        }
        &.open-tag {
          background: var(--chakra-colors-primary-500);
        }
      }
    }
  }

  .post-side-with-edit {
    @include body-2;
    color: var(--chakra-colors-secondary-400);
    display: flex;
    align-items: center;
    .view {
      margin-right: 20px;
    }
  }
}

