# This docker-compose file is only for local development purposes.
version: '3'
services:
  localstack:
    image: localstack/localstack
    ports:
      - '4566:4566'
    environment:
      - SERVICES=s3
      - DATA_DIR=/tmp/localstack/data
      - FILE_BUCKET_NAME
    volumes:
      - './init-localstack.sh:/docker-entrypoint-initaws.d/init-localstack.sh' # Initialise the bucket.
      - './.localstack:/tmp/localstack'
      - '/var/run/docker.sock:/var/run/docker.sock'

  maildev:
    image: maildev/maildev
    ports:
      - '1080:80'
      - '1025:25'

  db:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    ports:
      - '3306:3306'
    environment:
      - MYSQL_DATABASE=$DB_NAME
      - MYSQL_ROOT_PASSWORD=$DB_PASSWORD
