@import '../../styles/misc';
@import '../../styles/text';

.search-form {
  flex-direction: row;
  // make height responsive
  min-height: 56px;
  height: 100%;
  width: 100%;

  .search-autocomplete {
    width: 100%;

    .search-box {
      color: var(--chakra-colors-neutral-900);
      background-color: white;
      border-radius: 4px;
      border-color: var(--chakra-colors-secondary-200);
      border-width: 1px;
      box-shadow: 0px 0px 10px var(--chakra-colors-secondary-100);
      width: 100%;
      height: 100%;
    }

    .search-box .search-input {
      @include searchfont;
    }

    .search-box .search-input::placeholder{
      color: var(--chakra-colors-neutral-500);
    }

    .search-results {
      overflow-x: hidden;
      overflow-y: auto;
      max-height: 20rem;
      width: 100%;

      z-index: 50;
      margin-inline-start: 0;
      // copied box-shadow from chakra UI shadow 2xl,
      // with a much darker shade
      box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
      border-radius: $btn-radius;
    }

    .search-item {
      display: flex;
      align-items: center;
      padding: 10px 16px;
      box-sizing: border-box;
      width: 100%;

      .search-item-text {
        color: var(--chakra-colors-neutral-800);
      }
    }
  }
}
