
@import '../../styles/text';


.link-button {
  @include body-1;
  background-color: var(--chakra-colors-primary-500);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  color: white;
  border: 0;
  border-radius: var(--chakra-radii-button);
  cursor: pointer;
}
