@import '../../../styles/text';
@import '../../../styles/misc';

.question-form {
  .question-layout {
    .grid {

      label.form-label {
        @include subhead-1;

        p {
          @include body-2;
          color: var(--chakra-colors-secondary-400);
          margin-bottom: 12px;
        }
      }

      .char-remain {
        @include body-2;
        color: var(--chakra-colors-secondary-400);
        margin: 8px 0px;
      }

      input,
      textarea {
        @include body-1;
        box-sizing: border-box;
        padding: 8px 16px;
        width: 100%;
        border: 1px solid var(--chakra-colors-neutral-400);
        border-radius: 3px;

        &::placeholder {
          color: var(--chakra-colors-neutral-500);
        }
      }
    }

    .title-grid {
      margin-bottom: 36px;
    }

    .description-section {
      margin-bottom: 36px;
    }

    .tag-grid {
      margin-bottom: 36px;
    }

    .answer-section {
      margin-bottom: 36px;
    }
  }
}

.tag-dropdown {
  margin-bottom: 16px;
}

.tag-warning {
  color: black;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 14px;

  svg {
    margin: 8px 4px;
  }
}

.post-button {
  display: flex;
  align-items: center;
  .cancel-text {
    margin-left: 45px;
    cursor: pointer;
  }
}

#submit-button {
  @include body-1;
  background-color: var(--chakra-colors-primary-500);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  color: white;
  border: 0;
  border-radius: $btn-radius;
  cursor: pointer;
}

.richtext-grid {
  margin-bottom: 16px;
  display: flex;
  flex: 1 auto;
  flex-direction: column;

  .form-label {
    padding-bottom: 8px;
    display: flex;
    div {
      @include body-2;
      color: var(--chakra-colors-neutral-700);
      padding-left: 8px;
    }
  }

  #answer-row {
    justify-content: space-between;
    padding: 0;    
  }
  
  #answer-row + div{
    margin-top: 24px;
  }
  .form-dropdown {
    width: 50%;
  }
}
