@import '../../styles/text';
@import '../../styles/sizes';

.login-page {
  margin-top: 48px;
  max-width: calc(320px + 48px * 2);
  padding-left: 48px;
  padding-right: 48px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $mobile-m) {
    padding-left: 36px;
    padding-right: 36px;
  }

  h2 {
    @include display-2;
    margin-bottom: 8px;
  }

  p {
    @include body-1;
  }
}
