@import '../../styles/sizes';
@import '../../styles/text';
@import '../../styles/colours';

.back-to-home {
  @include h4;
  margin-left: auto;
  margin-right: auto;

  margin-top: 60px;
  margin-bottom: 54px;

  @media not all and (min-width: $tablet) {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  button {
    // native button style override
    border: none;
    background-color: transparent;
    font: 16px;
    padding: 0;
    cursor: pointer;
    
    // other styles
    display: flex;
    align-items: center;
    color: var(--chakra-colors-secondary-400);

    box-icon {
      margin-right: 8px;
    }
  }
}
