@import '../../styles/sizes';
@import '../../styles/colours';
@import '../../styles/text';

// CREDIT: FormSG

.sgds-masthead {
  z-index: 100;
  position: relative;
  background-color: #f0f0f0;
  height: auto;
  padding: 4px 0;
  font-size: 14px;

  @media screen and (max-width: 1023px) {
    padding-left: 4px;
    padding-right: 4px;
  }

  .is-text {
    margin-left: 4px;
  }

  .sgds-icon {
    font-size: 20px;
  }

  a {
    color: #484848;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  a:hover {
    color: #151515;
  }
}

#sg-govt-banner {
  // padding-left: 8%;
  padding-left: 48px;
  padding-right: 48px;
  background-color: #f0f0f0;

  a:focus, a:active,a:hover {
    color: #000;
    text-decoration: none;
  }
  
  @media screen and (max-width: 992px) {
    padding: 0;
  }
}
