@import '../../../../styles/colours';
@import '../../../../styles/sizes';
@import '../../../../styles/text';
@import '../../../../styles/misc';

.answer-item {
  padding: 32px;
  border: 1px solid $sec-200;
  border-radius: $radius-m;

  @media not all and (min-width: $tablet) {
    grid-template-columns: 1fr 3fr;
  }

  .answer-body {
    @include body-1;
    margin-top: 4px;
    color: var(--chakra-colors-secondary-900);

    @media not all and (min-width: $tablet) {
      grid-column: 1/3;
    }

    p {
      @include subhead-3;
      color: $pri-500;
    }

  }

}
