@import '../../styles/text';
@import '../../styles/sizes';
@import '../../styles/colours';

.page {
  display: flex;
}

.questions-page {
  padding: 0 48px;
  margin: 0 auto;
  max-width: calc(793px + 48px * 2);

  @media not all and (min-width: $tablet) {
    padding: 0 32px;
  }

  .questions-grid {
    display: flex;

    .questions-headline {
      @include display-2;
      margin-bottom: 24px;
      flex: 1 auto;
    }
  }

  .search-questions {
    padding-bottom: 16px;

    @media not all and (min-width: $tablet) {
      width: 100%;
    }
  }

  .questions-tabs {
    margin-bottom: 12px;
    display: flex;

    span {
      font-size: 17px;
      margin-right: 12px;
    }
  }

  .questions {
    padding: 0;

    @media not all and (min-width: $tablet) {
      width: 100%;
    }

    .no-results {
      @include body-1;
      color: var(--chakra-colors-gray-800);
      font-weight: 600;
    }
  }
}
