
@import '../../../styles/text';

.answer-section {
  width: auto;
  float: none;
  
  clear: both;

  .answer-header {
    width: 100%;
    border-top: 1px solid var(--chakra-colors-neutral-300);
    margin: 16px 0;

    h2 {
      @include h2;
      color: var(--chakra-colors-primary-800);
    }
  }

  .answers {
    width: 100%;
    margin-bottom: 16px;
    color: var(chakra-colors-neutral-900);
  }
}
