@import '../../styles/sizes';
@import '../../styles/text';


.post-page {

  .btn-bar {
    @media (min-width: $tablet) {
      float: right;
    }
  }

  .subtitle-bar {
    @include body-2;
    color: var(--chakra-colors-secondary-800);

    .tags-name-time {
      display: flex;
      align-items: flex-start;
    }

    .private-subtitle {
      @include body-2;
      color: var(--chakra-colors-neutral-500);
      font-style: italic;
      display: flex;
      margin-top: 8px;
    }

    .display-name {
      margin-right: 4px;
    }
  }

  .subtitle-bar + .question-main {
    margin-top: 16px;

    .post-time {
      @include caption-1;
      color: var(--chakra-colors-secondary-800);
      padding-right: 20px;
    }
  }

}
