@import '../../styles/sizes';
@import '../../styles/text';
@import '../../styles/colours';

.back-to-home {
  max-width: calc(796px + 48px * 2);
}

.post-page {

  .btn-bar {
    @media (min-width: $tablet) {
      float: right;
    }
  }

  .subtitle-bar {
    @include body-2;
    color: $sec-400;

    .tags-name-time {
      display: flex;
      align-items: flex-start;
    }

    .private-subtitle {
      @include body-2;
      color: $neutral-500;
      font-style: italic;
      display: flex;
      margin-top: 8px;
    }

    .display-name {
      margin-right: 4px;
    }
  }

  .subtitle-bar + .question-main {
    margin-top: 16px;

    .post-time {
      @include caption-1;
      color: $sec-400;
      padding-right: 20px;
    }
  }

}
