@import '../../styles/sizes';
@import '../../styles/colours';
@import '../../styles/misc';
@import '../../styles/text';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;

  
  background-color: $pri-500;
  padding: 15px 48px; // originally 48px, originally originally 8px

  @media not all and (min-width: $tablet) {
    padding: 15px 36px;
    justify-content: flex-start;
    // display: flex;
  }

  @media not all and (max-width: $mobile-l) {
    height: 82px;
  }

  .navbar-brand {
    @include logofont;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;

    @media (max-width: $mobile-l) {
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      top: 8px;
    }

    .askgov-name {
      // @include logofont;
      // color: white;
      position: relative;
      padding-right: 15px;
      bottom: 6px;

      @media (max-width: $mobile-l) {
        bottom: 0px;
      }
    }
  }
  
  

  .btns {
    display: flex;
    align-items: center;

    span {
      @include body-2;
      margin-right: 8px;
      color: $white;
    }

    .logo {
      width: 32px;
      border-radius: $btn-radius;
      margin-right: 16px;
    }
  }
}
