@import '../../styles/colours';
@import '../../styles/text';

.banner {
  height: 50px;
  min-height: 50px;
  color: $neutral-100;
  z-index: 2000;
  background: $neutral-900;
  display: flex;
  justify-content: center;
  align-items: center;
}
