// Primary
$pri-100: #f6f7fc;
$pri-200: #e4e7f6;
$pri-300: #b7c0e6;
$pri-400: #8998d6;
$pri-500: #293fcc;
$pri-600: #3b4e9a;
$pri-700: #2c3a73;
$pri-800: #1e274d;
$pri-900: #161d3a;

// Secondary
$sec-100: #f5f6f8;
$sec-200: #dadce3;
$sec-300: #a2a8b9;
$sec-400: #69738e;
$sec-500: #445072;
$sec-600: #36405b;
$sec-700: #293044;
$sec-800: #1b202e;
$sec-900: #0e1017;

// Neutrals
$neutral-100: #fbfcfd;
$neutral-200: #f0f0f1;
$neutral-300: #e1e2e4;
$neutral-400: #d2d3d6;
$neutral-500: #abadb2;
$neutral-600: #999b9f;
$neutral-700: #636467;
$neutral-800: #48494b;
$neutral-900: #242425;

// Success
$success-300: #9bebd7;
$success-700: #038564;
$success-800: #03664d;

// Danger
$danger-100: #fff8f8;
$danger-300: #e8c1c1;
$danger-500: #c05050;
$danger-600: #ad4848;

// Warning
$warning-100: #fffcf2;
$warning-600: #E0C25D;

// Standard
$white: #ffffff;
$beige: #ffede0;
