// Primary
$pri-100: #FFDCDF;
$pri-200: #FABBC0;
$pri-300: #FA9199;
$pri-400: #FA707C;
$pri-500: #EF4D5A;
$pri-600: #E33947;
$pri-700: #B82B35;
$pri-800: #95242C;
$pri-900: #762328;

// Secondary
$sec-100: #F5F5F5;
$sec-200: #EEEEEE;
$sec-300: #E0E0E0;
$sec-400: #BDBDBD;
$sec-500: #9E9E9E;
$sec-600: #757575;
$sec-700: #616161;
$sec-800: #424242;
$sec-900: #212121;

// Neutrals
$neutral-100: #EDF2F7;
$neutral-200: #E2E8F0;
$neutral-300: #CBD5E0;
$neutral-400: #A0AEC0;
$neutral-500: #718096;
$neutral-600: #4A5568;
$neutral-700: #2D3748;
$neutral-800: #1A202C;
$neutral-900: #171923;

// Success
$success-300: #9bebd7;
$success-700: #038564;
$success-800: #03664d;

// Danger
$danger-100: #fff8f8;
$danger-300: #e8c1c1;
$danger-500: #c05050;
$danger-600: #ad4848;

// Warning
$warning-100: #fffcf2;
$warning-600: #E0C25D;

// Standard
$white: #ffffff;
$beige: #ffede0;
