@mixin display-2 {
  /* display-2 */
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  /* or 120% */

  letter-spacing: -0.022em;
  font-feature-settings: 'zero' on;
}

@mixin h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  /* or 125% */

  letter-spacing: -0.017em;
  font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on, 'cv05' on;
}

@mixin h2 {
  /* h2 */

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  letter-spacing: -0.019em;
  font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on, 'cv05' on;
}

@mixin h4 {
  /* h4 */

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */

  letter-spacing: -0.014em;
  font-feature-settings: 'tnum' on, 'lnum' on, 'cv05' on;
}

@mixin subhead-1 {
  /* subhead-1 */

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: -0.011em;
  font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on, 'cv05' on;
}

@mixin subhead-2 {
  /* subhead-2 */

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: -0.006em;
  font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on, 'cv05' on;
}

@mixin subhead-3 {
  /* subhead-3 */

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on, 'cv05' on;
}

@mixin body-1 {
  /* body-1 */

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: -0.011em;
  font-feature-settings: 'tnum' on, 'lnum' on, 'cv05' on, 'zero' on, 'cv02' on;
}

@mixin body-2 {
  /* body-2 */

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: -0.006em;
  font-feature-settings: 'tnum' on, 'lnum' on, 'cv05' on;
}

@mixin caption-1 {
  /* caption-1 */

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* or 133% */

  font-feature-settings: 'tnum' on, 'lnum' on, 'cv05' on;
}

@mixin caption-2 {
  /* caption-2 */

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  /* or 133% */

  font-feature-settings: 'tnum' on, 'lnum' on, 'cv05' on;
}

@mixin link {
  /* Text Editor/LInk */

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: -0.011em;
  text-decoration-line: underline;
  font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on, 'cv05' on;
}

@mixin shadow {
  /* Shadow/Small */

  background: #c4c4c4;
  box-shadow: 0px 0px 10px rgba(216, 222, 235, 0.5);
}

@mixin logofont {
  font-family: Glacial Indifference;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height, or 160% */

  letter-spacing: 0.08em;
  font-feature-settings: 'tnum' on, 'lnum' on;

  /* Standard/White */

  color: #FFFFFF;
}

@mixin searchfont {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;

  letter-spacing: -0.019em;
  font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on, 'cv05' on;
}