@import '../../styles/text';
@import '../../styles/sizes';


#privacy-tou {
  ol {
    list-style: none;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  li {
    @include body-1;
    color: var(--chakra-colors-secondary-500);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  .tou-point-bold, .tou-point-header::before {
    @include h2;
    color: var(--chakra-colors-primary-500);
  }
  
  ol > li::before {
    content: attr(data-seq) ' ';
    position: relative;
    left: -60px;
    height: 0;
    display: inline-block;

    @media screen and (max-width: 480px) {
      content: ''
    }
  }

  ol > li > ol > li > ol > li{
    margin-left: 60px;
  }
}