
@import '../../../../styles/text';

.post-cell {
  display: flex;
  flex-direction: column;
  vertical-align: top;
  padding-right: 16px;
  grid-column: 2;
  width: auto;
  min-width: 0;

  .post-text {
    @include body-1;
    width: 100%;
    color: var(--chakra-colors-secondary-500);
    margin-top: 16px;
    margin-bottom: 16px;

    .public-DraftStyleDefault-block {
      margin: 0;
    }
  }

  .btns {
    margin-left: auto;
    margin-bottom: 16px;
  }
}
